/* CSS browser reset*/
body, ul, li, h1, h2, a{
    margin:0;
    padding:0;
    font-family: arial;
}

/* Header & Page title*/
header{
    background-color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: white;
    border: 2px solid white;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
}


/* Banner image and welcome message*/
.banner{
    position:relative;
    top: 58px;
    width: 100%;
}

.banner img{
    max-width: 100%;
}

.banner h2{
    font-size:70px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    top: 45px;
    position: absolute;
}


/* Navigation*/
nav {
    background-color: #eeeaea;
    padding: 20px;
    position:sticky;
    top:73px;
    width: 100;
    z-index: 1; /* stays on top of all content even when scrolling*/
}

nav ul{
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 20px; 
    text-align: center;
}

nav li a{
    color: rgb(15, 9, 9);
    text-decoration: none;
}


/* main content layout */
.wrapper {
    display: grid;
    grid-gap: 1em; */
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 2fr;
}


/* about me section title */
 .one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

}

/* about me section content */
.two {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

}

.two p{
    padding: 40px;
}

.recent-photo {
    float: left;
    max-width: 300px;
}

/* work section title */
.three {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* work section content */
.four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
    gap: 34px;
    position: relative;
    font-family: Arial;
}

.four img {
    filter: grayscale(80%); /* Adds grayscale filter to work images*/
    align-items: flex-end;
    justify-content: flex-end;
    border: 2px solid rgb(223, 223, 223);
    max-width: 300px;
}

.four img:hover {
    filter: none; /* Removes grayscale filter when hovering over work images */
    transition-duration: .5s ; /* Navigation*/
}


/* caption images */
.caption {
    position: absolute;
    max-width: 200px;
    margin: 0;
    padding: 0.5rem;
    word-break: break-word;
    font-size: 1.25rem;
    background-color: rgba(0,0,0,.3);
    color: #f2f2f2;
}

.box-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    font-size: 1.2rem;
    background-color: #333333;
    color: #d9d9d9;
  }

.box-flex-bottom {
    align-items: flex-end;
}
.box-caption {
    position: absolute;
    max-width: 200px;
    margin: 0;
    padding: .5rem;
    word-break: break-word;
    font-size: 1.25rem;
    background-color: rgba(0,0,0,.3);
    color: #f2f2f2;
}

.box-img-main {
    width: 100%;
}

/* contact me section title */

.five {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    
}

/* contact me section content */
.six {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px;
}

.six a {
    display: flex;
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
    color: rgb(15, 9, 9);
    text-decoration: none;

}

/* footer*/
footer {
    background-color: #eeeaea;
    text-align: center;
    width: 100%;
    line-height: 5px;
    padding: 20px 0;
    font-size: smaller;
}