/* CSS browser reset*/
body, ul, li, h1, h2, a{
    margin:0;
    padding:0;
    font-family: arial;
}

/* Header & Page title*/
header{
    background-color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: white;
    border: 2px solid white;
    padding: 6px 12px;
    display: inline-block;
}


/* Banner image and welcome message*/
.banner{
    position:relative;
    top: 58px;
}

.banner img{
    max-width: 100%;
}

.banner .greeting{
    position: absolute;
    padding: 5px;
    margin-top: -30%;
    width: 100%;

}

.banner h2{
    font-size:80px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

/* Navigation*/
nav {
    background-color: #eeeaea;
    padding: 20px;
    position:sticky;
    top:73px;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 20px; 
    text-align: center;
}

nav li a{
    color: rgb(15, 9, 9);
    text-decoration: none;
}

/* footer*/
footer {
    clear: both;
    background-color: #eeeaea;
    width: 100%;
    color: rgb(15, 9, 9);
    padding: 20px 0;
}

.footer-content {
    align-items: center;
    text-align: center;
}

.footer-content h3 {
    font-size: 14px;
    line-height: 10px;
}

.footer-content p {
    max-width: 500px;
    margin: 1;
    font-size: 14px;
}
.footer-bottom {
    align-items: center;
    text-align: center;
    
}
.footer-bottom p {
    font-size: 10px;
    font weight: 400px;
    line-height: 0px;
    padding: 0 0;
}

 /* pseudo classes */


 /* Layout separating sidebar from content */
 main {
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 10px;
    padding: 30px 0;
}

/* main content sections */
p { 
    height: 400px;
    max-width: 30%;
    max-height: 10%;
    display: inline;

}

/* about section */
.container-about {
    display: flex;
    height: 400px;
}
.container-about div {
    flex: 1;
}

#sidebar-style-about {
    text-align: center;
}

img {
    max-width: 50%;
    max-height: 50%;
}

#content-style-about ul {
    list-style: none;
    display: inline;
}

#content-style-about li {
    display: inline;   
    max-width: 20%;
    max-height: 20%;
}


/* work section */
.container-work {
    display: flex;
    height: 400px;
}
.container-work div {
    flex: 1;
}
#sidebar-style-work {
    text-align: center;
}


/* contact me section */
.container-contact {
    display: flex;
    height: 400px;
}
.container-contact div {
    flex: 1;
}
#sidebar-style-contact {
    text-align: center;
}
